 @font-face {
    font-family: "Marcellus-Regular";
    src: url("../../public/fonts/Marcellus-Regular.woff") format("woff");
 }

 @font-face {
	 font-family: "Spartan";
	 src: url("../../public/fonts/Spartan.woff") format("woff");
 }
