@import './utils/_fonts';
@import './utils/_var';
@import './utils/_easings';
@import './utils/_reset';
@import './utils/_breakpoints';

body {
	background-color: #fff;
}

canvas.sketch {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	// display: none;
}

.ui {
	width: 100vw;
	padding: 0 10px;
	position: relative;
	opacity: 0;
	// z-index: 1;
	overflow: scroll;
}

.deck {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	// to align left last element with justify-content: center
	//&:after {
	//	content: "";
	//	flex: auto;
	//}
}

.card {
	width: calc(50% - 20px);
	max-width: 200px;
	margin: 20px 10px;
	height: 300px;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: rgb(18, 0, 68);

	@include phone-landscape-mobile {
		width: calc(33% - 20px);
	}

	@include tablet-portrait-mobile {
		width: calc(33% - 20px);
	}

	@include tablet-landscape-mobile {
		width: calc(25% - 20px);
	}

	@include desktop-sm-mobile {
		width: calc(20% - 20px);
	}

	.artwork {
		position: absolute;
		// width: calc(100% - 20px);
		width: 105%;
		height: 75%;
		left: 50%;
		transform: translateX(-50%);

		// margin: 10px;

		background-color: rgb(11, 180, 202);
		pointer-events: none;
	}

	.content {
		margin: 10px;
	}

	.numero {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: #fff;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.zoom-in {
	animation: zoom 1s forwards;
	position: fixed;
	max-width: 300px;

	z-index: 3;
	top: 5%;
	left: 47%;
	transform: translate(-50%, 0%);
}

.zoom-background {
	background: black;
	opacity: 0.5;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	position: fixed;
}

@keyframes zoom {
	0% {}

	100% {
		width: calc(100% - 40px);
		height: 75vh;
	}
}
